{
  "presets": [
    "@babel/typescript",
    [
      "@babel/env",
      {
        "modules": false,
        "targets": {
          "chrome": "60",
          "firefox": "60",
          "ie": "11"
        }
      }
    ]
  ]
}
